



body {
    margin: 0;
    padding: 0;
    height:1000px;
}

main {
    background-image: url("/media/images/fondopagina7.png");
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

a {
    font-size: 25px;
    color: white;
}

#seccion-primera,
main,
header,
h2 {
    margin: 0 auto;
}
.arriba{
    background: linear-gradient(to right, #cc00cc 0%, #9900cc 100%);    
    height: 55px;
    width: 100%;
    text-align: center;
}
header {
    background-image: url("/media/images/BannerLau2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
    background-position: 50% 50%;
    background-size: cover;
}
.arriba a{
    background-color:rgb(11, 105, 255);
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    top: 15px;
    font-size:1em;
    color:white;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 40px;
}
.arriba a:hover{
    transform: scale(1.02) ;
}


h2,
main p {
    text-align: center;
    color: white;
}

p {
    font-size: 2em;
}

#seccion-primera h2 {
    font-size: 3em;
    color: pink;
    text-align: center;
    text-shadow: 8px 0px 1px #000000;
    background: -moz-linear-gradient(left, #842FCE 0%, #33BEDA 50%, #C52BB1 100%);
    background: -webkit-linear-gradient(left, #842FCE 0%, #33BEDA 50%, #C52BB1 100%);
    background: linear-gradient(to right, #842FCE 0%, #33BEDA 50%, #C52BB1 100%);
}



h3 {
    font-size: 30px;
}

.contenedor{
    position:relative;
    width:100%;
    padding:10px;
}

.arriba-izquierda{
    position:absolute;
    left:20em;
}

.abajo-izquierda{
    position:absolute;
    top:20em;
    left:20em;
}

.arriba-derecha{
    position: absolute;
    right:20em;
}

.abajo-derecha{
    position: absolute;
    top:20em;
    right:20em;
}

.centro{
    position: absolute;
    width:25%;
    left: 22.5em;
    top:2em;
}

.conjunto{
    position: relative;
    top: 30em;
}

.follow{
    text-align: center;
}

footer {
    background-color: #C0C0C0;
    color: black;
    padding: 2em 0 1em 0;
}

footer p {
    margin: 0;
}

footer address {
    padding-bottom: 1em;
}
