body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow-x: hidden;*/
    background-color: black;
}

main {
    background-image: url("../media/images/fondoinfogenshin.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    height: 800px;
    /*altura puesta para el fondo*/
}

a {
    font-size: 25px;
    color: white;
}

#seccion-primera,
main,
header,
h2 {
    margin: 0 auto;
}

.arriba {
    background: linear-gradient(to right, #cc00cc 0%, #9900cc 100%);
    height: 55px;
    width: 100%;
    text-align: center;
}

header {
    width: 100%;
}

#banner {
    width: 100%;
    display: block;
}

.arriba a {
    background-color: rgb(11, 105, 255);
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    top: 15px;
    font-size: 1em;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.arriba a:hover {
    transform: scale(1.02);
}

.conjunto {
    position: relative;
}





.lumine,
.aether {
    position: absolute;
    margin-top: 5em;
}

.lumine {
    height: 40em;
}

.aether {
    right: 2em;
}

#aventura {
    position: absolute;
    background-image: url("../media/images/ResumenAventura.png");
    height: 150px;
    width: 150px;
    top: 10em;
    left: 75em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#equipoActual {
    position: absolute;
    background-image: url("../media/images/equipoActual.png");
    height: 150px;
    width: 150px;
    top: 22em;
    left: 65em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}




footer {
    background-color: #C0C0C0;
    color: black;
    padding: 2em 0 1em 0;
}

footer p {
    margin: 0;
}

footer address {
    padding-bottom: 1em;
}



@media (max-width:667px) {
    body {
        width: 100%;
        height: 100%;
    }

    header {
        height: 12.5em;
        width: 100%;
    }

    #banner {
        height: 10em;
    }

    main {
        background-image: none;
        background-color: black;
    }

    .arriba {
        height: 40px;
    }

    .arriba a {
        top: 0.3em;
    }
}