

h3{
    font-family:"Permanent+Marker",cursive;
}

h4{
    font-family:"Winky Rough", sans-serif;
}

li,p{
    font-family:"Montserrat", cursive;
}

.descripcion{
    font-family:"Montserrat", cursive;

}
.copy{
    font-family:"Istok Web",sans-serif;
}